# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  version:

steps: 
  - task: PowerShell@2
    inputs:
      targetType: 'inline'
      script: |
        VERSION = (Get-Content 'package.json' | ConvertFrom-Json).version
        echo '##vso[task.setvariable variable=version]$VERSION'
    displayName: Set version

  - script: |
      echo $(version)
